//verplichte imports
@import "node_modules/bootstrap/scss/functions";
$btn-border-width: 12px !default;
.heading{background: orange;}
$btn-focus-box-shadow:6px!default;
$border-radius: 2.5rem !default;
$btn-border-radius:$border-radius * 1 !default;
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
//optionele imports
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/modal";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/nav";
a{
    color: #307e41;
}
h3 a{
    color: #fffff9;
}
.btn-outline-success {
    color: #fffff9;
    border-color: #fffff9;
}
.h5, h5 {
    color: lightgreen;
}
a:-webkit-any-link {
    color: #fffff9;
}
.apple_rush {
    background-color: #b7d7a0;
}
.hyper_honey{
    background-color: #f2ec8a;
}
.explosive_pomegrenade{
    background-color: #e84445;
}
